body {
  max-height: 100vh;
  overflow: hidden;
}

h1 {
  position: absolute;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  z-index: 5;
  width: 100%;
}

h2 {
  position: absolute;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  z-index: 5;
  width: 100%;
  margin-top: 70px;
}

/* animations */

body:hover .road {
  animation-name: road1;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

body:hover .road.two {
  animation-name: road2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

body:hover .sky {
  animation-name: sky;
  animation-duration: 90s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

body:hover .ray {
  animation-name: ray;
  animation-duration: 90s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

body:hover .tree {
  animation-name: tree1;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

body:hover .tree.two {
  animation-name: tree2;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

body:hover .hill.one {
  animation-name: hill1;
  animation-duration: 45s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

body:hover .hill.two {
  animation-name: hill2;
  animation-duration: 45s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

body:hover .wheel {
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

body:hover .sun {
  animation-name: rotate, day;
  animation-duration: 90s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

body:hover .moon {
  animation-name: night;
  animation-duration: 90s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

body:hover .cloud.one {
  animation-name: cloud1;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

body:hover .cloud.two {
  animation: cloud2 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

body:hover .cloud.three {
  animation-name: cloud3;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

body:hover .cloud.four {
  animation-name: cloud4;
  animation-duration: 60s;
  animation-delay: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@keyframes sky {
  0% {background-color: #9BC1E2;}
  10% {background-color: #7BA0C8;}
  20% {background-color: #7398C0;}
  30% {background-color: #5D6CAE;}
  45% {background-color: #283263;}
  50% {background-color: #14152B;}
  65% {background-color: #111018;}
  70% {background-color: #0F1722;}
  85% {background-color: #15253D;}
  90% {background-color: #325694;}
  95% {background-color: #6A9FD2;}
  100% {background-color: #9BC1E2;}
}

@keyframes ray
{
  0% { opacity: 1;}
  30% { opacity: 0;}
  90% { opacity: 0;}
  100% { opacity: 1;}
}

@keyframes day
{
  0% { right: 20vw;}
  30% { right: 100%; z-index: 2;}
  31% { right: 100%; z-index: -1;}
  32% { right: -200px; z-index: -1;}
  33% { right: -200px; z-index: 2;}
  90% { right: -200px; z-index: 2;}
  100% { right: 20vw; z-index: 2;}
}

@keyframes night
{
  0% { right: -200px;}
  40% { right: -200px; z-index: 2;}
  80% { right: 110%; z-index: 2;}
  81% { right: 110%; z-index: -1;}
  82% { right: -200px; z-index: -1;}
  83% { right: -200px; z-index: 2;}
  100% { right: -200px; z-index: 2;}
}

@keyframes road1
{
  from { margin-left: 0;}
  to {margin-left: -100%;}
}

@keyframes road2
{
  from { margin-left: 100%;}
  to {margin-left: 0%;}
}

@keyframes tree1
{
  from { margin-left: 0;}
  to {margin-left: -100%;}
}

@keyframes tree2
{
  from { margin-left: 100%;}
  to {margin-left: 0;}
}

@keyframes hill1
{
  0% { margin-left: 0;}
  60% {margin-left: -210%; z-index: 3;}
  61% {margin-left: -210%; z-index: -1;}
  62% {margin-left: 100%; z-index: -1;}
  63% {margin-left: 100%; z-index: 3;}
  100% {margin-left: 0; z-index: 3;}
}

@keyframes hill2
{
  0% { left: 150%;}
  97% { left: -200%; z-index: 3;}
  98% { left: -200%; z-index: -1;}
  99% { left: 150%; z-index: -1;}
  100% { left: 150%; z-index: 3;}
}

@keyframes cloud1
{
  0% { right: 100px;}
  80% { right: 120%; top: 20vh; }
  81% { right: 120%; top: -10vh; }
  82% { right: -20%; top: -10vh; }
  83% { right: -20%; top: 20vh; }
  100% { right: 100px; top: 20vh; }
}

@keyframes cloud2
{
  0% { left: 200px;}
  20% { left: -200px; top: 10vh; }
  21% { left: -200px; top: -10vh; }
  22% { left: 120%; top: -10vh; }
  23% { left: 120%; top: 10vh; }
  100% { left: 200px; }
}

@keyframes cloud3
{
  0% { left: 100%;}
  97% { left: -500px; top: 18vh; }
  98% { left: -500px; top: -20vh; }
  99% { left: 120%; top: -20vh; }
  100% { left: 100%; top: 18vh; }
}

@keyframes cloud4
{
  0% { left: 100%;}
  97% { left: -500px; top: 12vh; }
  98% { left: -500px; top: -20vh; }
  99% { left: 120%; top: -20vh; }
  100% { left: 100%; top: 12vh; }
}

/* car */

.car {
  position: absolute;
  bottom: 165px;
  z-index: 5;
  left: calc(50vw - 150px);
}

.body {
  background-color: #EE443E;
  border-radius: 16% 27% 9% 33% / 69% 58% 22% 40%;
  width: 300px;
  height: 100px;
  box-shadow: -32px 51px 27px -38px black;
}

.body::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #282221;
  width: 69px;
  height: 42px;
  margin-top: 52px;
  margin-left: 36px;
  border-radius: 50% 50% 19% 84%/ 74% 88% 2% 18%;
  border: 6px solid #EC6F6F;
  border-bottom: none;
}

.body::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #282221;
  width: 69px;
  height: 42px;
  margin-top: 52px;
  margin-left: 206px;
  border-radius: 50% 50% 32% 8%/ 74% 88% 4% 18%;
  border: 6px solid #EC6F6F;
  border-bottom: none;
}

.roof {
  background-color: #EE443E;
  border-radius: 27% 25% 0% 0%/ 41% 75% 0% 0%;
  width: 135px;
  height: 75px;
  margin-left: 72px;
}

.roof::before {
  content: "";
  display: block;
  position: absolute;
  height: 20px;
  width: 50px;
  margin-left: -22px;
  border-left: 24px solid transparent;
  border-bottom: 55px solid #EE443E;
}

.roof::after {
  content: "";
  display: block;
  position: absolute;
  height: 20px;
  width: 23px;
  margin-left: 104px;
  border-right: 24px solid transparent;
  border-bottom: 55px solid #EE443E;
}

.window {
  position: absolute;
  background-color: #282221;
  height: 61px;
  margin-top: 14px;
  width: 62px;
  z-index: 1;
  border-radius: 65% 20% 20% 10%/ 100% 20% 20% 10%;
}

.window.front {
  margin-left: 74px;
  width: 55px;
  border-radius: 20% 72% 10% 20%/ 20% 99% 10% 20%;
}

.window::before {
  content: "";
  display: block;
  position: absolute;
  border-bottom: 44px solid #282221;
}

.window.back::before {
  border-left: 19px solid transparent;
  top: 17px;
  right: 52px;
}

.window.front::before {
  border-right: 19px solid transparent;
  top: 17px;
  left: 45px;
}

.wheel {
  width: 58px;
  height: 58px;
  border-radius: 29px;
  background-color: #627D8A;
  background-size:5px 5px;
  position: absolute;
  margin-top: 63px;
  z-index: 1;
  margin-left: 47px;
  /* box-shadow: -7px 12px 31px -10px black; */
}

.wheel::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #D0D8DC;
  width: 28px;
  height: 28px;
  border-radius: 15px;
  margin: 13px;
  border: 2px dotted #282221;
}

.wheel.front {
  margin-left: 217px;
}

.wheel-shine {
  position: absolute;
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-left: 66px;
  margin-top: 82px;
  z-index: 1;
}

.wheel-shine.front {
  margin-left: 237px;
}

.handle {
  position: absolute;
  width: 31px;
  height: 14px;
  background-color: #EB9A9B;
  border-radius: 7px;
  margin-top: 12px;
  margin-left: 146px;
}

.bumper {
  background-color: #D0D8DC;
  position: absolute;
  width: 20px;
  height: 14px;
  border-radius: 7px;
  margin-top: 55px;
  margin-left: -2px;
  transform: rotate(18deg);
  z-index: 1;
}

.bumper.front {
  margin-left: 288px;
  margin-top: 73px;
  width: 16px;
  transform: rotate(-3deg);
}

.backlight {
  position: absolute;
  height: 20px;
  width: 8px;
  background-color: pink;
  margin-top: 37px;
  transform: rotate(12deg);
  margin-left: 1px;
}

.frontlight {
  background-color: #FCBE38;
  position: absolute;
  height: 20px;
  width: 10px;
  border-radius: 5px;
  margin-left: 294px;
  margin-top: 49px;
}

/* background */

.background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.sky {
  height: 100%;
  z-index: 1;
  background-color: #9BC1E2;
  width: 100%;
}

.moon {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 30px 30px 0 0 white;
  position: absolute;
  top: 15vh;
  right: -200px;
}

.sun {
  position: absolute;
  top: 100px;
  right: 20vw;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  z-index: 2;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rays {
  position: absolute;
}

.rays.two {
  transform: rotate(180deg);
}

.ray {
  border-bottom: 100vw solid rgba(255,255,153,0.2);
  border-left: 10vw solid transparent;
  border-right: 10vw solid transparent;
  position: absolute;
  z-index: 0;
  transform-origin: top center;
}

.ray.one {
  transform: rotate(15deg);
  right: -12vw;
  top: 0;
  border-left: 15vw solid transparent;
  border-right: 12vw solid transparent;
}

.ray.two {
  transform: rotate(34deg);
  right: -10vw;
  top: -1vh;
}

.ray.three {
  transform: rotate(53deg);
  right: -12vw;
  top: -2vh;
  border-left: 15vw solid transparent;
  border-right: 12vw solid transparent;
}

.ray.four {
  transform: rotate(85deg);
  right: -14vw;
  top: 0vh;
  border-left: 13vw solid transparent;
  border-right: 12vw solid transparent
}

.ray.five {
  transform: rotate(105deg);
  right: -15vw;
  top: 2vh;
}

.ray.six {
  transform: rotate(130deg);
  right: -16vw;
  top: -1vh;
  border-left: 15vw solid transparent;
  border-right: 12vw solid transparent;
}

.ray.seven {
  transform: rotate(170deg);
  right: -15vw;
  top: -1vh;
  border-left: 15vw solid transparent;
  border-right: 12vw solid transparent;
}

.cloud {
  width: 178px;
  height: 65px;
  border-radius: 41px;
  background-color: white;
  box-shadow: 8px 8px 38px -6px lightgrey;
  position: absolute;
  z-index: 4;
}

.cloud.one {
  top: 20vh;
  right: 100px;
  transform: scale(1.2);
}

.cloud.two {
  top: 10vh;
  left: 200px;
  transform: scale(-1, 1);
}

.cloud.three {
  top: 18vh;
  left: 100%;
  transform: scale(1.3);
}

.cloud.four {
  top: 12vh;
  left: calc(100% + 500px);
  transform: scale(0.9);
}

.cloud:before {
  content: "";
  display: block;
  position: absolute;
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  bottom: 37px;
  left: 34px;
  box-shadow: -12px -25px 54px -11px lightgrey;
}

.cloud:after {
  content: "";
  display: block;
  position: absolute;
  background-color: white;
  height: 80px;
  width: 80px;
  border-radius: 40px;
  bottom: 37px;
  left: 73px;
  box-shadow: -10px -21px 43px -22px lightgrey;
}

.road {
  position: absolute;
  width: 100%;
  height: 200px;
  background-color: #595959;
  z-index: 4;
  bottom: 0;
}

.road.two {
  margin-left: 100%;
}

.road:before {
  content: "";
  display: block;
  position: absolute;
  border-bottom: 55px dashed white;
  height: 80px;
  width: 95%;
}

.road:after {
  content: "";
  display: block;
  position: absolute;
  border-bottom: 40px solid #595959;
  width: 100%;
  margin-top: 95px;
}

.hill {
  position: absolute;
  height: 30vh;
  width: 200%;
  background-color: #A0B454;
  bottom: 100px;
  border-radius: 50% / 15vh;
  left: -5%;
  z-index: 3;
}

.hill.two {
  transform: rotate(-2deg);
  background-color: #7f9137;
  left: 100%;
  height: 50vh;
  bottom: -100px;
  border-radius: 50% / 25vh;
}

.hill.three {
  background-color: #6a7735;
  height: 10vh;
  border-radius: 50% / 5vh;
  transform: none;
  bottom: 150px;
}

.tree {
  height: 250px;
  width: 50px;
  position: absolute;
  bottom: 200px;
  left: 20vw;
  background-color: #4E441E;
  z-index: 4;
  display: flex;
  justify-content: center;
}

.tree.two {
  margin-left: 100%;
}

.leaves {
  position: absolute;
  width: 0px;
  height: 0px;
}

.leaves.one {
  margin-top: -130px;
  border: 80px solid transparent;
  border-bottom: 80px solid #6DA02F;
  border-radius: 80px;
}

.leaves.two {
  margin-top: -150px;
  border: 120px solid transparent;
  border-bottom: 120px solid #497D22;
  border-radius: 120px;
}

.leaves.three {
  margin-top: -150px;
  border: 150px solid transparent;
  border-bottom: 150px solid #376018;
  border-radius: 150px;
}

.leaves.four {
  margin-top: -150px;
  border: 180px solid transparent;
  border-bottom: 180px solid #354F1F;
  border-radius: 180px;
}
