/* animations */

body:hover .road {
  animation-name: road1;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

body:hover .road.two {
  animation-name: road2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

body:hover .tree {
  animation-name: tree1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

body:hover .tree.two {
  animation-name: tree2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

body:hover .wheel {
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

body:hover .sun {
  animation-name: rotate;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@keyframes road1
{
  from { margin-left: 0;}
  to {margin-left: -100%;}
}

@keyframes road2
{
  from { margin-left: 100%;}
  to {margin-left: 0%;}
}

@keyframes tree1
{
  from { margin-left: 0;}
  to {margin-left: -100%;}
}

@keyframes tree2
{
  from { margin-left: 100%;}
  to {margin-left: 0;}
}

/* car */

.car {
  position: absolute;
  bottom: 40vh;
  z-index: 1;
  left: calc(50vw - 150px);
}

.body {
  background-color: #EE443E;
  border-radius: 16% 27% 9% 33% / 69% 58% 22% 40%;
  width: 300px;
  height: 100px;
}

.body::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #282221;
  width: 69px;
  height: 42px;
  margin-top: 52px;
  margin-left: 36px;
  border-radius: 50% 50% 19% 84%/ 74% 88% 2% 18%;
  border: 6px solid #EC6F6F;
  border-bottom: none;
}

.body::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #282221;
  width: 69px;
  height: 42px;
  margin-top: 52px;
  margin-left: 206px;
  border-radius: 50% 50% 32% 8%/ 74% 88% 4% 18%;
  border: 6px solid #EC6F6F;
  border-bottom: none;
}

.roof {
  background-color: #EE443E;
  border-radius: 27% 25% 0% 0%/ 41% 75% 0% 0%;
  width: 135px;
  height: 75px;
  margin-left: 72px;
}

.roof::before {
  content: "";
  display: block;
  position: absolute;
  height: 20px;
  width: 50px;
  margin-left: -22px;
  border-left: 24px solid transparent;
  border-bottom: 55px solid #EE443E;
}

.roof::after {
  content: "";
  display: block;
  position: absolute;
  height: 20px;
  width: 23px;
  margin-left: 104px;
  border-right: 24px solid transparent;
  border-bottom: 55px solid #EE443E;
}

.window {
  position: absolute;
  background-color: #282221;
  height: 61px;
  margin-top: 14px;
  width: 62px;
  z-index: 1;
  border-radius: 65% 20% 20% 10%/ 100% 20% 20% 10%;
}

.window.front {
  margin-left: 74px;
  width: 55px;
  border-radius: 20% 72% 10% 20%/ 20% 99% 10% 20%;
}

.window::before {
  content: "";
  display: block;
  position: absolute;
  border-bottom: 44px solid #282221;
}

.window.back::before {
  border-left: 19px solid transparent;
  top: 17px;
  right: 52px;
}

.window.front::before {
  border-right: 19px solid transparent;
  top: 17px;
  left: 45px;
}

.wheel {
  width: 58px;
  height: 58px;
  border-radius: 29px;
  background-color: #627D8A;
  background-size:5px 5px;
  position: absolute;
  margin-top: 63px;
  z-index: 1;
  margin-left: 47px;
}

.wheel::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #D0D8DC;
  width: 28px;
  height: 28px;
  border-radius: 15px;
  margin: 13px;
  border: 2px dotted #282221;
}

.wheel.front {
  margin-left: 217px;
}

.wheel-shine {
  position: absolute;
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-left: 66px;
  margin-top: 82px;
  z-index: 1;
}

.wheel-shine.front {
  margin-left: 237px;
}

.handle {
  position: absolute;
  width: 31px;
  height: 14px;
  background-color: #EB9A9B;
  border-radius: 7px;
  margin-top: 12px;
  margin-left: 146px;
}

.bumper {
  background-color: #D0D8DC;
  position: absolute;
  width: 20px;
  height: 14px;
  border-radius: 7px;
  margin-top: 55px;
  margin-left: -2px;
  transform: rotate(18deg);
  z-index: 1;
}

.bumper.front {
  margin-left: 288px;
  margin-top: 73px;
  width: 16px;
  transform: rotate(-3deg);
}

.backlight {
  position: absolute;
  height: 20px;
  width: 8px;
  background-color: pink;
  margin-top: 37px;
  transform: rotate(12deg);
  margin-left: 1px;
}

.frontlight {
  background-color: #FCBE38;
  position: absolute;
  height: 20px;
  width: 10px;
  border-radius: 5px;
  margin-left: 294px;
  margin-top: 49px;
}

/* background */

.background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.sun {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 100px;
  right: 20vw;
  border-radius: 50px;
  background-color: yellow;
  box-shadow: 0px 0px 20px 15px yellow;
}

.ray {
  position: absolute;
  width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
  border-bottom: 30px solid yellow;
  opacity: 0.8;
}

.ray.one {
  margin-left: 39px;
  margin-top: -65px;
}

.ray.two {
  margin-left: 97px;
  margin-top: -46px;
  transform: rotate(41deg);
}

.ray.three {
  margin-left: 127px;
  margin-top: 2px;
  transform: rotate(70deg);
}

.ray.four {
  margin-left: 128px;
  margin-top: 62px;
  transform: rotate(112deg);
}

.ray.five {
  margin-left: 102px;
  margin-top: 107px;
  transform: rotate(138deg);
}

.ray.six {
  margin-left: 50px;
  margin-top: 129px;
  transform: rotate(170deg);
}

.ray.seven {
  margin-left: -6px;
  margin-top: 122px;
  transform: rotate(208deg);
}

.ray.eight {
  margin-left: -50px;
  margin-top: 82px;
  transform: rotate(238deg);
}

.ray.nine {
  margin-left: -65px;
  margin-top: 14px;
  transform: rotate(280deg);
}

.ray.ten {
  margin-left: -27px;
  margin-top: -44px;
  transform: rotate(321deg);
}

.road {
  position: absolute;
  width: 100%;
  height: 200px;
  background-color: #595959;
  z-index: -1;
  bottom: calc(40vh - 150px);
}

.road.two {
  margin-left: 100%;
}

.road:before {
  content: "";
  display: block;
  position: absolute;
  border-bottom: 55px dashed white;
  height: 80px;
  width: 90%;
}

.road:after {
  content: "";
  display: block;
  position: absolute;
  border-bottom: 40px solid #595959;
  width: 100%;
  margin-top: 95px;
}

.tree {
  height: 250px;
  width: 50px;
  position: absolute;
  bottom: calc(40vh + 50px);
  left: 20vw;
  background-color: #4E441E;

  display: flex;
  justify-content: center;
}

.tree.two {
  margin-left: 100%;
}

.leaves {
  position: absolute;
  width: 0px;
  height: 0px;
}

.leaves.one {
  margin-top: -130px;
  border: 80px solid transparent;
  border-bottom: 80px solid #6DA02F;
  border-radius: 80px;
}

.leaves.two {
  margin-top: -150px;
  border: 120px solid transparent;
  border-bottom: 120px solid #497D22;
  border-radius: 120px;
}

.leaves.three {
  margin-top: -150px;
  border: 150px solid transparent;
  border-bottom: 150px solid #376018;
  border-radius: 150px;
}

.leaves.four {
  margin-top: -150px;
  border: 180px solid transparent;
  border-bottom: 180px solid #354F1F;
  border-radius: 180px;
}
