body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  background-color: #EE443E;
  border-radius: 16% 27% 9% 33% / 69% 58% 22% 40%;
  width: 300px;
  height: 100px;
}

.body::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #282221;
  width: 69px;
  height: 42px;
  margin-top: 52px;
  margin-left: 36px;
  border-radius: 50% 50% 19% 84%/ 74% 88% 2% 18%;
  border: 6px solid #EC6F6F;
  border-bottom: none;
}

.body::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #282221;
  width: 69px;
  height: 42px;
  margin-top: 52px;
  margin-left: 206px;
  border-radius: 50% 50% 32% 8%/ 74% 88% 4% 18%;
  border: 6px solid #EC6F6F;
  border-bottom: none;
}

.roof {
  background-color: #EE443E;
  border-radius: 27% 25% 0% 0%/ 41% 75% 0% 0%;
  width: 135px;
  height: 75px;
  margin-left: 72px;
}

.roof::before {
  content: "";
  display: block;
  position: absolute;
  height: 20px;
  width: 50px;
  margin-left: -22px;
  border-left: 24px solid transparent;
  border-bottom: 55px solid #EE443E;
}

.roof::after {
  content: "";
  display: block;
  position: absolute;
  height: 20px;
  width: 23px;
  margin-left: 104px;
  border-right: 24px solid transparent;
  border-bottom: 55px solid #EE443E;
}

.window {
  position: absolute;
  background-color: #282221;
  height: 61px;
  margin-top: 14px;
  width: 62px;
  z-index: 1;
  border-radius: 65% 20% 20% 10%/ 100% 20% 20% 10%;
}

.window.front {
  margin-left: 74px;
  width: 55px;
  border-radius: 20% 72% 10% 20%/ 20% 99% 10% 20%;
}

.window::before {
  content: "";
  display: block;
  position: absolute;
  border-bottom: 44px solid #282221;
}

.window.back::before {
  border-left: 19px solid transparent;
  top: 17px;
  right: 52px;
}

.window.front::before {
  border-right: 19px solid transparent;
  top: 17px;
  left: 45px;
}

.wheel {
  width: 58px;
  height: 58px;
  border-radius: 29px;
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color: #627D8A;
  background-size:5px 5px;
  position: absolute;
  margin-top: 63px;
  z-index: 1;
  margin-left: 47px;
}

.car:hover .wheel {
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.wheel::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #D0D8DC;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin: 14px;
}

.wheel.front {
  margin-left: 217px;
}

.wheel-shine {
  position: fixed;
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-left: 66px;
  margin-top: 82px;
  z-index: 1;
}

.wheel-shine.front {
  margin-left: 237px;
}

.handle {
  position: absolute;
  width: 31px;
  height: 14px;
  background-color: #EB9A9B;
  border-radius: 7px;
  margin-top: 12px;
  margin-left: 146px;
}

.bumper {
  background-color: #D0D8DC;
  position: absolute;
  width: 20px;
  height: 14px;
  border-radius: 7px;
  margin-top: 55px;
  margin-left: -2px;
  transform: rotate(18deg);
  z-index: 1;
}

.bumper.front {
  margin-left: 288px;
  margin-top: 73px;
  width: 16px;
  transform: rotate(-3deg);
}

.backlight {
  position: absolute;
  height: 20px;
  width: 8px;
  background-color: pink;
  margin-top: 37px;
  transform: rotate(12deg);
  margin-left: 1px;
}

.frontlight {
  background-color: #FCBE38;
  position: absolute;
  height: 20px;
  width: 10px;
  border-radius: 5px;
  margin-left: 294px;
  margin-top: 49px;
}